<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Смена пароля</title>
    <link rel="stylesheet" href="/web/static/css/change_password.css">
</head>
<body>
    <header>
        <h1>Смена пароля</h1>
        <nav>
            <a href="/admin">Вернуться в админ-панель</a>
            <a href="/logout">Выйти</a>
        </nav>
    </header>

    <div class="container">
        <section>
            <h2>Смена пароля для admin</h2>
            <form id="change-password-form" action="/admin/change-password" method="POST">
                <div class="error-message">{{if .ErrorMessage}}{{.ErrorMessage}}{{end}}</div>
                <label for="old-password">Старый пароль</label>
                <input type="password" id="old-password" name="old_password" required>
                <label for="new-password">Новый пароль</label>
                <input type="password" id="new-password" name="new_password" required>
                <label for="confirm-new-password">Подтвердите новый пароль</label>
                <input type="password" id="confirm-new-password" name="confirm_new_password" required>
                <button type="submit">Сменить пароль</button>
            </form>
        </section>
    </div>
</body>
</html>