<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="/web/static/css/video.css">
    <link rel="stylesheet" href="/web/static/css/normalize.css">
</head>
<body>
    <div class="video-container">
        <h1>{{.Title}}</h1>
        <iframe width="560" height="315" src="{{.URL}}" frameborder="0" allowfullscreen></iframe>
    </div>
</body>
</html>
